{% extends "children/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Child Dashboard - Add Visit for ({{ child.child_name }})</h2>


<div class="container mt-5">

    <form id="id_add_vist_form" method="post" class="row g-3 shadow p-4 bg-light rounded">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                    {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                    <li><strong>Error:</strong> {{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form_controls">
            {{ form.visit_date|as_crispy_field }}
            {{ form.height|as_crispy_field }}
            {{ form.weight|as_crispy_field }}
            {%if form.muac%}
            {{ form.muac|as_crispy_field }}
            {% endif%}
            {{ form.wasting|as_crispy_field }}
            {{ form.breastfeeding|as_crispy_field }}
            {{ form.mother_art_status|as_crispy_field }}
            {{ form.clinical_monitoring|as_crispy_field }}
            {{ form.hiv_testing|as_crispy_field }}
            {{ form.infection_status|as_crispy_field }}
            {{ form.drug_given|as_crispy_field }}
            {{ form.cpt_given|as_crispy_field }}
            {{ form.follow_up_outcome|as_crispy_field }}
            {{ form.art_number|as_crispy_field }}
            {{ form.next_appointment_or_outcome_date|as_crispy_field }}
        </div>
            
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Save Visit</button>
            <a href="{% url 'children:child_dashboard' child.hcc_number %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<style>
    .form_controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .form-errors {
    background-color: #ffe5e5;
    border: 1px solid #cc0000;
    color: #cc0000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const artNumberInput = document.querySelector('#id_art_number')
        const artContainer = document.querySelector('#div_id_art_number')
        const outcomeInput = document.querySelector('#id_follow_up_outcome')
        const form_div = document.getElementById('id_add_vist_form')

        document.getElementById('id_visit_date').focus()
        form_div.style.display = 'grid'
        artContainer.style.display = "None" 

        outcomeInput.addEventListener('change', (event)=> {
            value = outcomeInput.value

            if (value === 'ART'){
                artContainer.style.display = ""  
            }else {
                artContainer.style.display = "none"  
            }
        })
    });
</script>
{% endblock %}
