
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{% block title %}Exposed Child System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="text-center mt-5">
    <h2>Select Application</h2>
    <div class="mt-4">
        <a href="{% url 'children:dashboard' %}" class="btn btn-primary btn-lg m-2">Exposed Infants App</a>
        <a href="{% url 'tingathe_tools:tingathe_tools_index' %}" class="btn btn-success btn-lg m-2">Tingathe Tools App</a>
        <a href="{% url 'pact:pact_dashboard' %}" class="btn btn-info btn-lg m-2">Pact App</a>
        <a href="{% url 'art:index' %}" class="btn btn-primary btn-lg m-2">ART APP</a>
    </div>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-lg m-2">Logout</button>
    </form>
</div>  
</body>
</html>
