{% extends 'children/base.html' %}

{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Children Management</h2>
        <a href="{% url 'children:add_child' %}" class="btn btn-primary">Add New Child</a>
    </div>

    <form method="post" class="row g-3 mb-4">
        {% csrf_token %}
        <div class="col-md-4">
            <select name="search_by" class="form-select" required>
                <option value="hcc" {% if request.GET.search_by == "hcc" %}selected{% endif %}>HCC Number</option>
                <option value="mother_art" {% if request.GET.search_by == "mother_art" %}selected{% endif %}>Mother ART Number</option>
            </select>
        </div>
        <div class="col-md-5">
            <input type="text" id='id_search_value' name="query" class="form-control" placeholder="Enter search value" value="{{ request.GET.query }}" required>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success w-100">Search</button>
        </div>
    </form>

    <div class="card-header bg-white">
        <h5 id='table_title' class="card-title mb-0">Attendance List</h5>
    </div>
    <hr/>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="id-children-table">
                <thead>
                    <tr>
                        <th>HCC #</th>
                        <th>Child Name</th>
                        <th>Gender</th>
                        <th>Mother ARV#</th>
                        <th>DOB</th>
                        <th>Guardian</th>
                        <th>Relationship</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody data-url="{% url 'children:childrens' %}" data-view = "{% url 'children:child_dashboard' 1106 %}" >
                    {% for child in page_obj %}
                    <tr>
                        <td>{{ child.hcc_number }}</td>
                        <td>{{ child.child_name }}</td>
                        <td>{{ child.child_gender }}</td>
                        <td>{{ child.mother_art_number }}</td>
                        <td>{{ child.child_dob }}</td>
                        <td>{{ child.guardian_name }}</td>
                        <td>{{ child.relationship }}</td>
                        <td>
                            <a href="{% url 'children:child_dashboard' child.hcc_number %}" class="btn btn-sm btn-primary">View</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="8">No children found.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> {% endcomment %}
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}
